@model IEnumerable<Department.Models.tblDepartment>

@{
    ViewBag.Title = "GetDepartmentList";
}

<h2>GetDepartmentList</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.departName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entrydate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.departName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entrydate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "GetById", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
